
/*-----AUTO CLEARFIX-----*/

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


.rockable_section{
	margin: 20px;
	width:740px;
	border:1px solid #ddd;
	border-bottom:0;
	background:#fafafa;
	-moz-border-radius:2px;
	-moz-border-radius-topright:25px;
	-moz-border-radius-topleft:25px;
	-webkit-border-radius:2px;
	-webkit-border-top-right-radius:25px;
	-webkit-border-top-left-radius:25px;
	-moz-box-shadow: 0 0 3px #dfdfdf;
	-webkit-box-shadow: 0 0 3px #dfdfdf;
	box-shadow: 0 0 3px #dfdfdf;

}

/*-----//AUTO CLEARFIX-----*/

/*-----TITLE-----*/

.rockable_title{
	border-bottom:4px solid #D7E6F2;
	background:#F1F6FA;
	padding:0;
	-moz-border-radius-topright:25px;
	-moz-border-radius-topleft:25px;
	-webkit-border-top-right-radius:25px;
	-webkit-border-top-left-radius:25px;
}

.rockable_title .rockable_title_image{
	padding:20px 10px;}
	
	.rockable_title_image img{
		float:left;
	}
	.rockable_meta{
		font-size:12px;
		font-weight:700;
		text-shadow: 1px 1px 1px #ccc;
		float:right;
		text-transform:uppercase;
		padding:2px 10px;
	}
		.rockable_meta a{text-decoration:none;}
	
	
.rockable_title h3 {
	font-size:1.4em;
	margin:0;
	font-weight:bold;
	color:#232323;
	float:left;
	width:80%;
	padding:5px 10px;
	text-shadow: 2px 2px 2px #ccc;
}


.rockable_title span.submit{
	display:block;
	float:right;
	margin:0;
	padding:0;
	width:15%;
	padding:14px 0;
}

/*-----//TITLE-----*/


/*-----LABELS AND DESCRIPTIONS-----*/

.rockable_options div.label{
	padding: 20px; 
	font-size:12px;
	font-weight:700;
	width:130px;
	float:left;
	margin: 20px 0;
}

.rockable_options div.description{
	display:block;
	float:right;
	width:180px;
	color:#999;
	font-size:11px;
	padding:35px 20px 35px 0;
}

.rockable_options label{
	font-size:11px;
	font-weight:700;
	margin-left:3px;
}

/*-----//LABELS AND DESCRIPTIONS-----*/


/*-----OPTIONS GROUPS-----*/

.option_wrap{
	float: left; 
	background-color: #fff; 
	color: #464646; 
	width: 570px;
	padding:0; 
	margin:0;
}
.option_control{
	width: 330px; 
	float: left;
	padding: 35px 20px;
}	

/*-----//OPTIONS GROUPS-----*/


/*-----INPUT STYLES-----*/

.rockable_input {
	padding:0;
	border-bottom:1px solid #ddd;
	border-top:1px solid #fff;
}
.rockable_options input[type="text"], .rockable_options select{
	width:280px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1em;
	background:#f3f3f3;
}

.rockable_options input[type="radio"], .rockable_options input[type="checkbox"]{	
	margin: 2px 0 0 0;
}

.rockable_options textarea{
	width:280px;
	height:175px;
	font-size:12px;
	color:#333;
	line-height:1.5em;
	background:#f3f3f3;
}
.rockable_options input:focus, .rockable_options textarea:focus, .rockable_options select:focus{
	background:#fff;
}

span.rockable_upload, span.rockable_remove{
	display:inline-block;
	width:auto;
}
.checkbox-nav{
	float:left;
	margin:0 6px 10px 0;
	width:106px;
}

.checkbox-nav label{
	font-weight:400;
}

.last{
	margin-right:0; 
}

.rockable_image_preview img{
	max-width:200px;
	padding:4px;
}

span.rockable_upload, span.rockable_remove{
	display:inline-block;
	width:auto;
}

/*-----//INPUT STYLES-----*/

/*-----SLIDER CONTROL STYLES-----*/
.rockable_slider{
	width:950px;
	margin:25px;
}

.rockable_slider label{
	width:100px;
	float:left;
	margin:3px 0;
}

.rockable_slider textarea {
height:105px;
}

/*-----//SLIDER CONTROL STYLES-----*/